In [1]:
import h2o

In [2]:
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
  Java Version: java version "1.8.0_202"; Java(TM) SE Runtime Environment (build 1.8.0_202-b08); Java HotSpot(TM) 64-Bit Server VM (build 25.202-b08, mixed mode)
  Starting server from /Users/bap00001/.pyenv/versions/3.7.6/lib/python3.7/site-packages/h2o/backend/bin/h2o.jar
  Ice root: /tmp/tmp3gd2h8fm
  JVM stdout: /tmp/tmp3gd2h8fm/h2o_root_started_from_python.out
  JVM stderr: /tmp/tmp3gd2h8fm/h2o_root_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ------------------------------------------------------------------
H2O_cluster_uptime:         02 secs
H2O_cluster_timezone:       Asia/Tokyo
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.30.0.2
H2O_cluster_version_age:    4 days
H2O_cluster_name:           H2O_from_python_root_q8y2mv
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    1.778 Gb
H2O_cluster_total_cores:    4
H2O_cluster_allowed_cores:  4
H2O_cluster_status:         accepting new members, healthy
H2O_connection_url:         http://127.0.0.1:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
H2O_API_Extensions:         Amazon S3, XGBoost, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.7.6 final
--------------------------  ------------------------------------------------------------------

In [3]:
url = "http://h2o-public-test-data.s3.amazonaws.com/smalldata/iris/iris_wheader.csv"
iris = h2o.import_file(url)

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [4]:
train, test = iris.split_frame( [0.8] )

In [5]:
train.summary()

,sepal_len,sepal_wid,petal_len,petal_wid,class
type,real,real,real,real,enum
mins,4.3,2.0,1.0,0.1,
mean,5.851908396946567,3.032824427480917,3.8152671755725187,1.2244274809160298,
maxs,7.9,4.4,6.9,2.5,
sigma,0.8608896243947228,0.4148109389722218,1.762885452993418,0.7627976446106829,
zeros,0,0,0,0,
missing,0,0,0,0,0
0,4.9,3.0,1.4,0.2,Iris-setosa
1,4.7,3.2,1.3,0.2,Iris-setosa
2,4.6,3.1,1.5,0.2,Iris-setosa
3,5.4,3.9,1.7,0.4,Iris-setosa
4,4.6,3.4,1.4,0.3,Iris-setosa
5,5.0,3.4,1.5,0.2,Iris-setosa
6,4.4,2.9,1.4,0.2,Iris-setosa
7,4.9,3.1,1.5,0.1,Iris-setosa
8,5.4,3.7,1.5,0.2,Iris-setosa
9,4.8,3.4,1.6,0.2,Iris-setosa

In [7]:
train.nrows

131

In [8]:
test.nrows

19

In [9]:
from h2o.estimators.deeplearning import H2ODeepLearningEstimator

In [10]:
mDL = H2ODeepLearningEstimator()
mDL.train( ['sepal_len','sepal_wid','petal_len','petal_wid'] , "class", train)

deeplearning Model Build progress: |██████████████████████████████████████| 100%

In [11]:
mDL

Model Details
=============
H2ODeepLearningEstimator :  Deep Learning
Model Key:  DeepLearning_model_python_1588516100559_1


Status of Neuron Layers: predicting class, 3-class classification, multinomial distribution, CrossEntropy loss, 41,803 weights/biases, 498.2 KB, 1,310 training samples, mini-batch size 1

,,layer,units,type,dropout,l1,l2,mean_rate,rate_rms,momentum,mean_weight,weight_rms,mean_bias,bias_rms
0,,1,4,Input,0,,,,,,,,,
1,,2,200,Rectifier,0,0,0,0.00621097,0.00469861,0,-0.00749855,0.112728,0.478909,0.0156826
2,,3,200,Rectifier,0,0,0,0.0148315,0.0316882,0,-0.000197823,0.0698246,0.998773,0.00394389
3,,4,3,Softmax,,0,0,0.0108305,0.0590942,0,-0.0259905,0.394466,-0.00151974,0.00160293

ModelMetricsMultinomial: deeplearning
** Reported on train data. **

MSE: 0.029560411115183413
RMSE: 0.17193141398587813
LogLoss: 0.09393309875238241
Mean Per-Class Error: 0.03787878787878788

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

   Iris-setosa  Iris-versicolor  Iris-virginica     Error     Rate
0         42.0              0.0             0.0  0.000000   0 / 42
1          0.0             39.0             5.0  0.113636   5 / 44
2          0.0              0.0            45.0  0.000000   0 / 45
3         42.0             39.0            50.0  0.038168  5 / 131

Top-3 Hit Ratios:

   k  hit_ratio
0  1   0.961832
1  2   1.000000
2  3   1.000000

Scoring History:

,,timestamp,duration,training_speed,epochs,iterations,samples,training_rmse,training_logloss,training_r2,training_classification_error
0,,2020-05-03 23:35:08,0.000 sec,None,0.0,0,0.0,NaN,NaN,NaN,NaN
1,,2020-05-03 23:35:09,0.794 sec,292 obs/sec,1.0,1,131.0,0.516026,1.017420,0.598729,0.328244
2,,2020-05-03 23:35:10,1.288 sec,1410 obs/sec,10.0,10,1310.0,0.171931,0.093933,0.955454,0.038168

Variable Importances:

    variable  relative_importance  scaled_importance  percentage
0  petal_wid             1.000000           1.000000    0.299706
1  sepal_wid             0.820199           0.820199    0.245819
2  petal_len             0.794816           0.794816    0.238211
3  sepal_len             0.721584           0.721584    0.216263

In [12]:
train.summary()

,sepal_len,sepal_wid,petal_len,petal_wid,class
type,real,real,real,real,enum
mins,4.3,2.0,1.0,0.1,
mean,5.851908396946567,3.032824427480917,3.8152671755725187,1.2244274809160298,
maxs,7.9,4.4,6.9,2.5,
sigma,0.8608896243947228,0.4148109389722218,1.762885452993418,0.7627976446106829,
zeros,0,0,0,0,
missing,0,0,0,0,0
0,4.9,3.0,1.4,0.2,Iris-setosa
1,4.7,3.2,1.3,0.2,Iris-setosa
2,4.6,3.1,1.5,0.2,Iris-setosa
3,5.4,3.9,1.7,0.4,Iris-setosa
4,4.6,3.4,1.4,0.3,Iris-setosa
5,5.0,3.4,1.5,0.2,Iris-setosa
6,4.4,2.9,1.4,0.2,Iris-setosa
7,4.9,3.1,1.5,0.1,Iris-setosa
8,5.4,3.7,1.5,0.2,Iris-setosa
9,4.8,3.4,1.6,0.2,Iris-setosa

In [13]:
p = mDL.predict(test)

deeplearning prediction progress: |███████████████████████████████████████| 100%

In [14]:
p

predict,Iris-setosa,Iris-versicolor,Iris-virginica
Iris-setosa,0.999919,8.12066e-05,9.78939e-22
Iris-setosa,0.999968,3.23929e-05,3.92952e-22
Iris-setosa,0.999813,0.000186908,2.51823e-22
Iris-setosa,0.999924,7.55796e-05,2.48698e-21
Iris-setosa,0.999303,0.000697258,1.37523e-20
Iris-setosa,0.999133,0.000867298,1.80359e-20
Iris-setosa,0.999987,1.32653e-05,2.83383e-23
Iris-setosa,0.999537,0.000463421,1.82184e-21
Iris-versicolor,2.18907e-05,0.986441,0.0135369
Iris-versicolor,6.14078e-05,0.925623,0.0743154

In [16]:
mDL.model_performance(test)

ModelMetricsMultinomial: deeplearning
** Reported on test data. **

MSE: 0.0005489875097046754
RMSE: 0.02343048248979682
LogLoss: 0.009875776155824042
Mean Per-Class Error: 0.0

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

   Iris-setosa  Iris-versicolor  Iris-virginica  Error    Rate
0          8.0              0.0             0.0    0.0   0 / 8
1          0.0              6.0             0.0    0.0   0 / 6
2          0.0              0.0             5.0    0.0   0 / 5
3          8.0              6.0             5.0    0.0  0 / 19

Top-3 Hit Ratios:

   k  hit_ratio
0  1        1.0
1  2        1.0
2  3        1.0